## Kata 4

Transformar cadenas

In [25]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text_parts = text.split('.')
text_parts

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

Definir si el texto contiene las palabras AVERAGE, TEMPERATURE, DISTANCE

In [26]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
key_words = ["average", "temperature", "distance"]
key_word in text

False

Ciclo para recorrer la cadena

In [27]:
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

Ciclo para cambiar C a Celsius

In [28]:
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace('C', 'Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

## Ejercicio 2

In [36]:
planet = 'Marte '
gravity  = 0.00143
name = 'Ganímedes'

titulo = f'la gravedad de {name}'

Crear la plantilla

In [29]:
hechos = f"""{'-'*80}
Nombre del planeta: {planet}
Gravedad en {name}: {gravity * 1000} m/s2 
"""

Unir titulo y hecos

In [37]:
template = f"""{titulo.title()} 
{hechos} 
""" 
print(template)

La Gravedad De Luna
--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

Nuevos datos

In [39]:
planet = 'Marte '
gravity  = 0.00143
name = 'Ganímedes'

print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

In [40]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=name, planeta=planet, gravedad=gravity))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [41]:
print(new_template.format(nombre=name, planeta=planet, gravedad=gravity*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2